{% extends 'account/layout.html' %}

{% block title %}
    ثبت نام
{% endblock %}


{% block body %}
    <div class="card w-50 mt-4 ">
        <div class="card-header">ثبت نام</div>
        <div class="card-body">
            {% if error %}
                <div class="alert alert-danger" role="alert">
                    رمز عبور و تکرار آن همخوانی ندارد
                </div>
            {% endif %}
            <form action="" method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <label for="faculty">دانشکده</label>
                <select name="faculty" id="faculty" onchange="changingFac()">
                    <option id="none_fac">----</option>
                    {% for fac in faculties %}
                        <option id="{{ fac }}">{{ fac }}</option>
                    {% endfor %}
                </select><br>
                <label for="department">گروه آموزشی</label>
                <select name="department" id="department" onchange="changingDep()">
                    <option id="select_fac">لطفا دانشکده مورد نظر را وارد کنید</option>
                </select><br>
                <label for="position">وضعیت</label>
                <select name="position" id="position">
                    <option id="select_dep">لطفا دانشکده مورد نظر را وارد کنید</option>
                </select><br>
                <input type="submit" class="btn btn-primary">
            </form>
        </div>
    </div>

{% endblock %}

{% block script %}
    <script>
        const faculty_select = document.getElementById('faculty')
        const department_select = document.getElementById('department')
        const position_select = document.getElementById('position')
        const dep_select = document.getElementById('select_fac')

        function displayMenu(obj) {
            let object = document.getElementById(obj);
            if (object) {
                object.setAttribute("hidden", "hidden");
            }
        }

        function changingFac() {
            let option = faculty_select.options[faculty_select.selectedIndex];
            displayMenu('none_fac')
            dep_select.innerHTML = 'نام گروه آموزشی'
            getDeps(option.id)
            displayMenu('select_fac')
            displayMenu('select_dep')
        }

        function changingDep() {
            let option = department_select.options[department_select.selectedIndex]
            let selected_fac = faculty_select.options[faculty_select.selectedIndex]
            getPoses(option.id, selected_fac.id)
        }

        async function getDeps(faculty_name) {
            const url = '/account/department-list/' + faculty_name + '/'
            const response = await fetch(url)
            const departments = await response.json()
            loadIntoDeps(departments)
        }

        function loadIntoDeps(data) {
            department_select.innerHTML = ''
            for (let dep of data) {
                const option = document.createElement('option')
                option.id = dep.name
                option.innerHTML = dep.name
                department_select.appendChild(option)
            }
            let deps = department_select.options
            let selected_fac = faculty_select.options[faculty_select.selectedIndex];
            getPoses(deps[0].id, selected_fac.id)
        }

        async function getPoses(department_name, faculty_name) {
            const url = '/account/position-list/' + department_name + '-' + faculty_name + '/'
            const response = await fetch(url)
            const positions = await response.json()
            loadIntoPoses(positions)
        }

        function loadIntoPoses(data) {
            position_select.innerHTML = ''
            for (let dep of data) {
                const option = document.createElement('option')
                option.id = dep.name
                option.innerHTML = dep.name
                position_select.appendChild(option)
            }
        }
    </script>
{% endblock %}