{% extends 'account/layout.html' %}

{% block title %}
    ثبت نام
{% endblock %}


{% block body %}
    <div class="card w-50 mt-4 ">
        <div class="card-header">ثبت نام</div>
        <div class="card-body">
            {% if error %}
                <div class="alert alert-danger" role="alert">
                    شناسه کاربری یا کلمه عبور اشتباه است
                </div>
            {% endif %}

            <form action="">
                {% csrf_token %}
                {{ form.as_p }}
                <label for="faculty">دانشکده</label>
                <select name="faculty" id="faculty" onchange="changingFac()">
                    <option id="none_fac">----</option>
                    {% for fac in faculties %}
                        <option value="{{ fac }}">{{ fac }}</option>
                    {% endfor %}
                </select><br>
                <label for="department">گروه آموزشی</label>
                <select name="department" id="department" onchange="changingDep()">
                    <option id="select_fac">لطفا دانشکده مورد نظر را وارد کنید</option>
                </select><br>
                <label for="position">وضعیت</label>
                <select name="position" id="position" onchange="changingPos()">
                    <option id="select_dep">لطفا گروه آموزشی مورد نظر را وارد کنید</option>
                </select><br>
                <input type="submit" class="btn btn-primary">
            </form>
        </div>
    </div>

{% endblock %}

{% block script %}
    <script>
        function displayMenu(obj) {
            const object = document.getElementById(obj);
            object.setAttribute("hidden", "hidden");

        }

        function changingFac() {
            const fac_select = document.getElementById('faculty')
            let option = fac_select.options[fac_select.selectedIndex];
            displayMenu('none_fac')
            const dep_select = document.getElementById('select_fac')
            dep_select.innerHTML = 'نام گروه آموزشی'
            getDeps(option.value)
        }

        function changingDep() {
            displayMenu('select_fac')
        }

        async function getDeps(faculty_name) {
            const url = '/account/department-list/' + faculty_name + '/'
            const response = await fetch(url)
            const departments = await response.json()
            loadIntoDeps(departments)
        }

        function loadIntoDeps(data){
            for (let dep of data){
                console.log(data[0].name)
            }
        }
    </script>
{% endblock %}